<div class=" detail m-4 p-5">
    <p>Id: {{ user.id }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Age: {{ user.age }}</p>
    <p>Date of birth: {{ user.dateOfBirth | date:'dd MMM yy' }}</p>
    <p><strong>Address:</strong></p>
    <p>City: {{ user.address?.city }}</p>
    <p>Street: {{ user.address?.street }}</p>
    <p>Postal code: {{ user.address?.postalCode }}</p>
    <p>Role: {{user.role}}</p>
    <p>Username: {{user.username}}</p>
    <img src={{user.profilePhotoUrl}} style="width:150px;">
    <p>Gender: {{user.gender}}</p>
    <button class="btn btn-info" (click)="close.emit()">Close</button>
</div>



